[submodule "modules/pkg_rh"]
	path = modules/pkg_rh
	url = https://github.com/soli-lms/pkg_rh_mockup.git
[submodule "modules/pkg_creation_projets"]
	path = modules/pkg_creation_projets
	url = https://github.com/soli-lms/pkg_creation_projets_mockup.git
[submodule "modules/pkg_realisation_projets"]
	path = modules/pkg_realisation_projets
	url = https://github.com/soli-lms/pkg_realisation_projets_mockup.git
[submodule "modules/pkg_validations"]
	path = modules/pkg_validations
	url = https://github.com/soli-lms/pkg_validations_mockup.git
[submodule "modules/pkg_suivi"]
	path = modules/pkg_suivi
	url = https://github.com/soli-lms/pkg_suivi_mockup.git
[submodule "modules/pkg_autorisation"]
	path = modules/pkg_autorisation
	url = https://github.com/soli-lms/pkg_autorisation_mockup.git
