[submodule "modules/pkg_rh"]
	path = modules/pkg_rh
	url = https://github.com/soli-lms/pkg_rh_mockup.git
[submodule "modules/shared"]
	path = modules/shared
	url = https://github.com/soli-lms/pkg_shared_mockup.git
[submodule "modules/pkg_autorisation"]
	path = modules/pkg_autorisation
	url = https://github.com/soli-lms/pkg_autorisation_mockup.git
